@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background-color: #10002b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    width: 500px;
    height: 300px;
    background-color: #10002b;
    border: 2px solid #7b2cbf;
    padding: 10px 20px 0px  10px;
    border-radius: 1.75rem;
}
p{
    color: white;
    font-size: 30px;
}
span{
    font-size: 30px;
    color: #c77dff;
    text-decoration: underline;
    text-underline-position: under;
}
.inputs,.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 1.75rem;
    border: none;
    outline: none;
    padding-left: 10px;
}
button{
    height: 30px;
    background-color: #c77dff;
    color: white;
    border: none;
    outline: none;
    border-radius: 1.75rem;
    cursor: pointer;
}
.button2{
    width: 175px;
}
.button1{
    width: 30px;
}
.txt{
    margin-bottom: 75px;
}